In [7]:
import pandas as pd
#from aequitas.group import Group
#from aequitas.bias import Bias
#from aequitas.fairness import Fairness
#compas_scores = pd.read_csv("../kaggle/compas-scores-raw.csv")
#cox = pd.read_csv("../kaggle/cox-violent-parsed.csv")
raw_data = pd.read_csv("../allData/BROWARD_ORIGINAL.csv")
raw_data.set_index('id')

                 id          age  juv_fel_count  decile_score  juv_misd_count  \
count   7214.000000  7214.000000    7214.000000   7214.000000     7214.000000
mean    5501.255753    34.817993       0.067230      4.509565        0.090934
std     3175.706870    11.888922       0.473972      2.856396        0.485239
min        1.000000    18.000000       0.000000      1.000000        0.000000
25%     2735.250000    25.000000       0.000000      2.000000        0.000000
50%     5509.500000    31.000000       0.000000      4.000000        0.000000
75%     8246.500000    42.000000       0.000000      7.000000        0.000000
max    11001.000000    96.000000      20.000000     10.000000       13.000000

       juv_other_count  priors_count  days_b_screening_arrest  \
count      7214.000000   7214.000000              6907.000000
mean          0.109371      3.472415                 3.304763
std           0.501586      4.882538                75.809505
min           0.000000      0.000000              -414.000000
25%           0.000000      0.000000                -1.000000
50%           0.000000      2.000000                -1.000000
75%           0.000000      5.000000                 0.000000
max          17.000000     38.000000              1057.000000

       c_days_from_compas     is_recid  r_days_from_arrest  violent_recid  \
count         7192.000000  7214.000000         2316.000000            0.0
mean            57.731368     0.481148           20.269430            NaN
std            329.740215     0.499679           74.871668            NaN
min              0.000000     0.000000           -1.000000            NaN
25%              1.000000     0.000000            0.000000            NaN
50%              1.000000     0.000000            0.000000            NaN
75%              2.000000     1.000000            1.000000            NaN
max           9485.000000     1.000000          993.000000            NaN

       is_violent_recid  decile_score.1  v_decile_score  priors_count.1  \
count       7214.000000     7214.000000     7214.000000     7214.000000
mean           0.113529        4.509565        3.691849        3.472415
std            0.317261        2.856396        2.510148        4.882538
min            0.000000        1.000000        1.000000        0.000000
25%            0.000000        2.000000        1.000000        0.000000
50%            0.000000        4.000000        3.000000        2.000000
75%            0.000000        7.000000        5.000000        5.000000
max            1.000000       10.000000       10.000000       38.000000

             start          end        event  two_year_recid
count  7214.000000  7214.000000  7214.000000     7214.000000
mean     11.465068   553.436651     0.382867        0.450652
std      46.954563   399.020583     0.486120        0.497593
min       0.000000     0.000000     0.000000        0.000000
25%       0.000000   148.250000     0.000000        0.000000
50%       0.000000   530.500000     0.000000        0.000000
75%       1.000000   914.000000     1.000000        1.000000
max     937.000000  1186.000000     1.000000        1.000000

# Demographic

In [28]:
#age
rows = raw_data.shape[0]
print('rows:', rows)
raw_data.groupby(['age_cat']).agg(['count'])['id']/rows

#age.groupby(level=0).apply(lambda x: 100 * x / float(x.sum()))

rows: 7214

                    count
age_cat
25 - 45          0.569587
Greater than 45  0.218464
Less than 25     0.211949

In [26]:
#race
raw_data.groupby(['race']).agg(['count'])['id']/rows

                     count
race
African-American  0.512337
Asian             0.004436
Caucasian         0.340172
Hispanic          0.088301
Native American   0.002495
Other             0.052259

In [29]:
#race
raw_data.groupby(['sex']).agg(['count'])['id']/rows

           count
sex
Female  0.193374
Male    0.806626

In [31]:
raw_data.groupby(['score_text']).agg(['count'])['id']

            count
score_text
High         1403
Low          3897
Medium       1914

In [41]:
raw_data.pivot_table(index='sex', columns='race', aggfunc=len)['id']

race    African-American  Asian  Caucasian  Hispanic  Native American  Other
sex
Female               652      2        567       103                4     67
Male                3044     30       1887       534               14    310

In [42]:
raw_data.groupby(['two_year_recid']).agg(['count'])['id']

                count
two_year_recid
0                3963
1                3251